body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.circle {
  width: 10vw; /* 10% of the viewport width */
  height: 10vw; /* 10% of the viewport width */
  background-color: #f00; /* red */
  border-radius: 50%; /* to make it a circle */
}
#error-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.pointer {
  cursor: pointer;
}

.underline {
  text-decoration: underline;
}

.link_text {
  font-size: medium;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
